div.ad-container {
    background-color: rgb(160, 160, 160);
    float: right;
    margin-top: 2.5%;
    width: 15%;
    text-align: center;
    border-radius: 5px;
    box-shadow: -10px 5px 15px rgb(1, 67, 94);
    display: none;
}

div.ad1 {

    height: 30%;
}

div.ad2 {
   
    min-height: max-content;
}

img {
    width: 100%;
    height: auto;
    
}

div.ad2 + div.ad2 {
    margin-top: 10%;
}