div.ad-container {
    background-color: rgb(255, 255, 255);
    float: right;
    margin-top: 2.5%;
    width: 15%;
    position: sticky;
    text-align: center;
    border-radius: 5px;
    box-shadow: -10px 5px 15px rgb(1, 67, 94);
}

div.ad1 {
    background-color: rgb(255, 255, 255);
    height: 30%;
}

div.ad2 {
    background-color: white;
    height: 70%;
}

img {
    width: 100%;
    height: auto;
}