div.footer-container {
    margin: 0 5%;
    margin-top: 10%;
    text-align: center;
    border-top: 1px dashed black;
    width: 90%;
}

h3.title-contact {
    font-size: xx-large;
}

span.contact-details {
    list-style: none;
    font-size: large;
    word-spacing: 5px;
}

li.name {
    font-size: larger;
    font-weight: bold;
}