h2.join {
  text-align: center;
  margin-top: 40px;
  width: 82%;
  font-size: 36px;
  color: #030027;
  border: 1px solid black;
  border-radius: 100px;
  font-stretch: extra-expanded;
  box-shadow: 10px 5px 15px black;
}

p.high {
  text-align: center;
  margin-top: 10px;
  color: #102670;
  text-decoration: underline;
}

.sponsorcard {
  box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
  transition: ease-out 3s;
  cursor: pointer;
  max-height: 20%;
  font-size: large;
}
